.navigation {
  border-bottom: 1px solid var(--main-light-dark);
}
.logo {
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.logo img {
  width: 164px;
}
.navigation > div {
  padding: 0 2.2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation ul {
  display: flex;
}
.navigation ul li {
  list-style: none;
  text-align: center;
  margin-right: 2rem;
}
.navigation ul li p {
  padding: 0.4rem 0.75rem;
  color: var(--primary-text);
  margin: 1.1rem 0;
  border-radius: var(--buttons-border-radius);
}
.navigation ul li p:hover {
  cursor: pointer;
  background-color: var(--main-light-dark);
}
.navigation ul li.active p {
  color: var(--main-blue);
}
.sidebar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
}