.wrapper {
  width: 56px;
  height: 28px;
  padding: 4px;
  position: relative;
  background-color: var(--main-light-dark);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
.wrapper svg {
  margin: 0.09rem 0.1rem; 
  color: var(--primary-text);
}
.wrapper .circle {
  transition: 0.15s;
  height: 20px;
  width: 20px;
  background-color: var(--primary-text);
  left: 4px;
  border-radius: 100%;
  position: absolute;
}
.wrapper .circle.active {
  right: 4px;
  left: unset;
}
