.wrapper {
  width: 58px;
  height: 30px;
  padding: 6px;
  position: relative;
  background-color: var(--main-light-dark);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
.wrapper svg {
  margin: 0.01rem 0.02rem; 
  color: var(--primary-text);
}
.wrapper .circle {
  transition: 0.15s;
  height: 22px;
  width: 22px;
  background-color: var(--primary-text);
  left: 5px;
  border-radius: 100%;
  top: 4px;
  position: absolute;
}
.wrapper .circle.active {
  right: 5px;
  left: unset;
}
