.wrapper {
    width: 100%;
    max-width: var(--content);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0rem var(--content-padding) 7rem var(--content-padding);
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 3rem;
}
.bookmark {
    color: var(--primary-text);
    display: flex;
    font-size: 22px;
    align-items: center;
    cursor: pointer;
}
.header img {
    width: 96px;
    background-size: contain;
    height: 96px;
    border-radius: 50%;
    margin-right: 1rem;
}
.header h1 {
    color: var(--primary-dark-text);
    font-size: 28px;
}
.header h1 span {
    margin-left: 0.4rem;
}
.header .content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .names {
    display: flex;
    flex-direction: column;
}
.header .names span {
    color: var(--secondary-text);
    margin-top: 0.5rem;
}
.row .none {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary-text);
}
.representative {
    margin-top: 4.8rem;
}
.representative h2 {
    color: var(--primary-text);
    font-size: 22px;
    display: flex;
    padding-bottom: 0.6rem;
    flex-direction: row;
    justify-content: space-between;
}
.representative h3 {
    color: var(--primary-text);
    font-size: 18px;
    margin: 1.55rem 0 0.6rem 0;
}
.representative p {
    color: var(--secondary-text);
    line-height: 1.7rem;
}
.logoHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid var(--secondary-text);
    margin-bottom: 1rem;
}
.logoHeader img {
    border-radius: 20px;
    width: 60px;
    height: 24px;
}
.url {
    color: var(--main-blue);
}
.sequence {
    margin-bottom: 0.2rem;
}
.taxonTree {
    width: 18px;
    display: inline-block;
    border-left: 1px solid var(--third-text);
    border-bottom: 1px solid var(--third-text);
    padding: 0.34rem 0;
    margin-right: 0.5rem;
    margin-left: 0.8rem;
}
.lineage {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 0.22rem;
}
.lineage span:nth-of-type(3) {
    color: var(--primary-text);
    font-weight: bold;
    position: absolute;
    left: 230px;
}
.lineage span:nth-of-type(3) a {
    color: var(--primary-text);
    display: block;
}
.lineage span:nth-of-type(3) a:hover {
    color: var(--main-blue);
}
.tableHeader {
    display: grid;
    grid-template-columns: repeat(4, 2fr) 0.8fr;
    background-color: var(--main-light-dark);
    padding: 0.76rem;
    width: 100%;
    border-radius: var(--buttons-border-radius) var(--buttons-border-radius) 0 0;
}
.row {
    display: grid;
    border-top: unset;
    grid-template-columns: repeat(4, 2fr) 0.8fr;
    padding: 0.76rem;
    border-bottom: var(--button-border) solid var(--main-light-dark);
    border-left: var(--button-border) solid var(--main-light-dark);
    border-right: var(--button-border) solid var(--main-light-dark);
}
.row a {
    color: var(--main-blue);
}
.row:hover {
    background-color: var(--main-light-dark);
}
.row svg {
    color: #81b29a;
    text-align: center;
    margin-left: 0 auto;
}
.row .representativeIcon {
    display: flex;
    justify-content: center;
    align-items: center;
}
.representative .genome {
    border: unset;
    margin-bottom: 0.4rem;
}
.host svg {
    color: var(--primary-text);
    margin-left: 1rem;
    cursor: pointer;
}
.host svg:hover {
    color: var(--main-blue);
}
.notFoundICTV {
    color: var(--secondary-text);
    text-align: center;
    margin: 2rem 0 1.8rem 0;
}
.notFoundICTV svg {
    color: #ac5353;
    margin-left: 0.5rem;
}