.wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}
.wrapper.left {
  transition: 2s;
  justify-content: space-between;
}
@keyframes anim {
  from {
    left: calc(50% - 330px);
  }
  to {
    left: 0;
  }
}
.searchField {
  border: var(--button-border) solid var(--main-light-dark);
  background-color: var(--main-light-dark);
  border-radius: 100px;
  width: 100%;
  max-width: 660px;
  position: relative;
  display: flex;
  flex-direction: row;
  height: 50px;
}
.example {
  position: absolute;
  top: 70px;
  color: var(--secondary-text);
  text-align: center;
  width: 100%;
  max-width: 660px;
  font-size: 0.9rem;
}
.left .example {
  display: none;
}
.searchField .secondaryData {
  margin: 0 auto;
  color: var(--secondary-text);
  font-weight: 400;
}
.searchField .secondaryData i {
  font-size: 0.88rem;
}
.left .searchField {
  animation: anim 0.4s;
}
.wrapperForSpinner {
  display: flex;
  flex-direction: row;
  width: 740px;
  margin: 0 auto;
  padding-left: 2.2rem;
}
.left .wrapperForSpinner {
  width: 100%;
  padding-left: 0;
}
.searchField.focused {
  border-radius: 28px 28px 0 0;
}
.searchField > input {
  background-color: transparent;
  color: var(--primary-text);
  padding: var(--buttons-padding) 2.2rem var(--buttons-padding) 3rem;
  border: var(--button-border) solid transparent;
  width: 80%;
  height: 100%;
  margin-left: 10px;
}
.searchField > input:focus {
  outline: none;
}
.searchField > input::placeholder {
  color: var(--secondary-text);
  opacity: 1;
}
.searchField > input::-ms-input-placeholder {
  color: var(--secondary-text);
}
.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 1.5rem;
}
.buttons > div {
  color: var(--secondary-text);
  border-bottom: 2px solid transparent;
  cursor: pointer;
}
.buttons .active {
  font-weight: bold;
  color: var(--primary-text);
  border-bottom: 2px solid var(--primary-text);
}
.buttons > div:nth-child(1) {
  margin-right: 0.6rem;
}
.close {
  position: absolute;
  cursor: pointer;
  right: 130px;
  color: var(--secondary-text);
  top: var(--buttons-padding);
  background-color: transparent;
  border: transparent;
  font-size: 22px;
  top: 15px;
  transform: translateY(-2px);
}
.searchIcon {
  font-size: 22px;
  top: 13px;
  left: 0px;
  margin-left: 1.4rem;
  color: var(--secondary-text);
  position: absolute;
}
.hintList {
  position: absolute;
  display: flex;
  width: calc(100% + 2px);
  flex-direction: column;
  z-index: 2000;
  background-color: var(--main-light-dark);
  top: 49px;
  left: -1px;
  padding: 0.5rem 0;
  border-top: 1px solid var(--button-border-color);
  border-radius: 0 0 28px 28px;
}
.hintList .didyou {
  color: var(--secondary-text);
  display: block;
  margin: 0 2rem 0.2rem 2rem;
  padding: 0.6rem 0 0.3rem 0;
  border-bottom: 1px solid var(--button-border-color);
}
.hintElement {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.62rem;
  padding-left: 2rem;
  color: var(--secondary-text);
}
.hintElement .flag {
  margin-right: 1rem;
  color: var(--secondary-text);
  font-size: 0.9rem;
}
.hintElement:nth-last-of-type(1) {
  padding-bottom: 0.7rem;
  border: none;
  border-radius: 0 0 14px 14px;
}
.hintElement:hover {
  cursor: pointer;
  color: var(--primary-text);
  background-color: var(--searchbar-hover);
}
.hintElement:nth-last-of-type(1):hover {
  cursor: pointer;
  color: var(--primary-text);
  background-color: var(--searchbar-hover);
  border-radius: 0 0 14px 14px;
}
.hintElement .highlighted {
  color: var(--primary-text);
  font-weight: bold;
}
.clearAll {
  height: var(--button-height);
  border: var(--button-border) solid var(--button-border-color);
  cursor: pointer;
  background-color: transparent;
  color: var(--secondary-text);
  padding: 0rem 0.3rem;
  margin-left: 2rem;
  border-radius: var(--buttons-border-radius);
  box-sizing: border-box;
  line-height: 34px;
  position: relative;
  min-width: 90px;
}
.clearAll:hover {
  background-color: #ac5353;
  color: white;
  border: var(--button-border) solid #ac5353;
}
.clearAll svg {
  margin-left: 0.5rem;
}
.clearAll a {
  text-decoration: none;
  color: var(--secondary-text);
}
