.wrapper {
  max-width: 660px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.searchField {
  border: var(--button-border) solid var(--main-light-dark);
  background-color: var(--main-light-dark);
  border-radius: 100px 0 0 100px;
  width: 100%;
  position: relative;
  height: 50px;
}
.focused > .searchField {
  border: var(--button-border) solid var(--button-border-color);
  border-radius: 28px 0 0 0;
  background-color: transparent;
}
.searchField > input {
  background-color: transparent;
  color: var(--primary-text);
  padding: var(--buttons-padding) 1.2rem var(--buttons-padding) 3rem;
  border-radius: 5px 0 0 5px; 
  border: var(--button-border) solid transparent;
  width: 92%;
  height: 100%;
  margin-left: 10px;
}
.searchField > input:focus {
  outline: none;
}
.buttons {
  background-color: var(--main-light-dark);
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
  border-radius: 0 100px 100px 0;
  padding: var(--buttons-padding) 1.5rem;
  border: calc(var(--button-border)) solid var(--main-light-dark);
}
.buttons > div {
  color: var(--secondary-text);
  border-bottom: 2px solid transparent;
  cursor: pointer;
}
.buttons .active {
  font-weight: bold;
  color: var(--primary-text);
  border-bottom: 2px solid var(--primary-text);
}
.buttons > div:nth-child(1) {
  margin-right: 0.6rem;
}
.close {
  position: absolute;
  cursor: pointer;
  right: 170px;
  color: var(--secondary-text);
  top: var(--buttons-padding);
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: transparent;
  font-size: 24px;
  top: 15px;
  transform: translateY(-3px);
}
.searchIcon {
  font-size: 22px;
  top: 13px;
  left: 0px;
  margin-left: 1.4rem;
  color: var(--secondary-text);
  position: absolute;
}
.hintList {
  position: absolute;
  display: flex;
  width: calc(100% + 2px);
  flex-direction: column;
  z-index: 2;
  top: 49px;
  left: -1px;
  background-color: white;
}
.hintElement {
  display: block;
  padding: 0.7rem;
  color: var(--primary-text);
  border: var(--button-border) solid var(--button-border-color);
  background-color: white;
  border-top: none;
  transition: 0.15s;
  box-shadow: 0 1px 6px -1px var(--main-light-dark);
}
.hintElement:nth-last-of-type(1) {
  border-radius: 0 0 28px 28px;
  padding-bottom: 1rem;
}
.hintElement:hover {
  cursor: pointer;
  background-color: var(--main-light-dark);
  color: var(--primary-dark-text);
}
