.wrapper {
  max-width: 660px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.searchField {
  border: var(--button-border) solid var(--main-light-dark);
  background-color: var(--main-light-dark);
  border-radius: 100px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  height: 50px;
}
.focused > .searchField {
  border-radius: 28px 28px 0 0;
}
.searchField > input {
  background-color: transparent;
  color: var(--primary-text);
  padding: var(--buttons-padding) 2.2rem var(--buttons-padding) 3rem;
  border: var(--button-border) solid transparent;
  width: 80%;
  height: 100%;
  margin-left: 10px;
}
.searchField > input:focus {
  outline: none;
}
.searchField > input::placeholder {
  color: var(--secondary-text);
  opacity: 1;
}
.searchField > input::-ms-input-placeholder {
  color: var(--secondary-text);
}
.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 1.5rem;
}
.buttons > div {
  color: var(--secondary-text);
  border-bottom: 2px solid transparent;
  cursor: pointer;
}
.buttons .active {
  font-weight: bold;
  color: var(--primary-text);
  border-bottom: 2px solid var(--primary-text);
}
.buttons > div:nth-child(1) {
  margin-right: 0.6rem;
}
.close {
  position: absolute;
  cursor: pointer;
  right: 130px;
  color: var(--secondary-text);
  top: var(--buttons-padding);
  background-color: transparent;
  border: transparent;
  font-size: 22px;
  top: 15px;
  transform: translateY(-2px);
}
.searchIcon {
  font-size: 22px;
  top: 13px;
  left: 0px;
  margin-left: 1.4rem;
  color: var(--secondary-text);
  position: absolute;
}
.hintList {
  position: absolute;
  display: flex;
  width: calc(100% + 2px);
  flex-direction: column;
  z-index: 2000;
  background-color: var(--main-light-dark);
  top: 49px;
  left: -1px;
  padding: 0.5rem 0;
  border-top: 1px solid var(--button-border-color);
  border-radius: 0 0 28px 28px;
  box-shadow: 0 2px 4px -3px var(--primary-text);
}
.hintElement {
  display: block;
  padding: 0.7rem;
  padding-left: 2rem;
  font-weight: bold;
  color: var(--primary-dark-text);
}
.hintElement:nth-last-of-type(1) {
  padding-bottom: 0.7rem;
  border: none;
  border-radius: 0 0 14px 14px;
}
.hintElement:hover {
  cursor: pointer;
  background-color: var(--searchbar-hover);
  color: var(--primary-dark-text);
}
