.wrapper {
  margin: 0rem auto 8rem auto;
  height: 52vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.wrapper img {
  margin-right: 4rem;
  width: 228px;
}
.wrapper p {
  font-weight: normal;
  max-width: 320px;
  line-height: 21px;
  text-align: left;
  color: var(--secondary-text);
}
@media (max-width: 920px) {
  .wrapper {
    flex-direction: column;
    text-align: center;
    height: 50vh;
  }
  .wrapper p {
    margin-top: 2.4rem;
    text-align: center;
  }
  .wrapper img {
    margin-top: 2rem;
    margin-right: 0rem;
    width: 210px;
  }
}
