.wrapper {
  margin: 4rem auto;
  height: 33vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.wrapper img {
  margin-right: 4rem;
  width: 228px;
}
.wrapper p {
  font-weight: normal;
  max-width: 320px;
  line-height: 21px;
  text-align: left;
  color: var(--secondary-text);
}
@media (max-width: 920px) {
  .wrapper {
    flex-direction: column;
    text-align: center;
    padding: 1rem 0;
  }
  .wrapper > h1 {
    font-size: 26px;
    margin-bottom: 0.6rem;
    width: 100%;
  }
  .wrapper > p {
    max-width: 280px;
    margin-right: 0rem;
    margin-bottom: 1.5rem;
  }
}
