.wrapper {
  padding: 0rem var(--content-padding) 3.9rem var(--content-padding);
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.wrapper .filters {
  display: flex;
}
.wrapper button {
  height: 36px;
  border: var(--button-border) solid var(--button-border-color);
  background-color: white;
  border-radius: var(--buttons-border-radius);
  color: var(--primary-text);
  cursor: pointer;
  margin-right: 30px;
  display: flex;
  align-items: center;
}
.wrapper button:nth-last-of-type(1) {
  margin-right: 0;
}
.wrapper p {
  line-height: 100%;
  padding: 0 1.4rem;
}
.select {
  margin-right: 1.4rem;
}
.select .react-select__indicators {
  display: none;
}
.select .react-select__control {
  height: 20px;
}