.wrapper {
  padding: 0rem var(--content-padding) 8.5rem var(--content-padding);
  margin: 0 auto;
}
.welcome {
  justify-content: space-between;
  align-items: stretch;
  display: flex;
  flex-direction: row;
  background-color: var(--main-blue);
  padding: 3.8rem 4rem;
  max-width: 1180px;
  margin: 0 auto;
  border-radius: 0px 0px 50px 50px;
}
.text h1 {
  font-size: 2.5rem;
  color: rgb(248, 248, 248);
  margin-bottom: 0.3rem;
}
.text p {
  color: rgb(248, 248, 248);
  opacity: 0.82;
  max-width: 460px;
  line-height: 1.3rem;
}
.text {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.text span {
  display: inline-block;
  width: 100%;
  background-color: var(--main-light-dark);
  margin: 1.2rem 0 1.6rem;
  height: 2px;
}
.image {
  max-width: 460px;
  width: 100%;
  object-fit: cover;
  position: relative;
}
.extras {
  display: flex;
  max-width: 236px;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
}
.extras a {
  display: block;
  text-decoration: none;
  border-radius: var(--buttons-border-radius);
  padding: 0.54rem 1.3rem;
  color: rgb(248, 248, 248);
  margin: 3.6rem 0 0 0;
  font-weight: bold;
  border: 2px solid rgb(248, 248, 248);
}
.extras button {
  background-color: transparent;
  border: none;
}
.extras button a:hover {
  cursor: pointer;
  color: var(--main-blue);
  background-color: rgb(248, 248, 248);
}
