.wrapper {
  padding: 5.5rem var(--content-padding) 5.5rem var(--content-padding);
  margin: 0 auto;
}
.welcome {
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-direction: row;
}
.text {
  text-align: right;
}
.text h1 {
  margin-bottom: 1.3rem;
}
.text p {
  font-size: 1rem;
  color: var(--secondary-text);
  max-width: 460px;
  line-height: 1.3rem;
}
.image {
  width: 100%;
  max-width: 480px;
  position: relative;
  height: 240px;
}
.extras a {
  display: block;
  color: var(--primary-text);
  text-decoration: none;
  border: 1px solid var(--secondary-text);
  border-radius: var(--buttons-border-radius);
  padding: 0.54rem 1.3rem;
}
.extras button {
  margin-top: 3rem;
  background-color: transparent;
  border: none;
}
.extras button a:hover {
  background-color: var(--main-light-dark);
  color: var(--primary-text);
  cursor: pointer;
  border: 1px solid var(--main-light-dark);
}
@media (max-width: 710px) {
  .wrapper {
    padding: 2rem var(--content-padding-mobile) 2rem var(--content-padding-mobile);
    margin: 0 auto;
  }
  .welcome {
    flex-direction: column;
  }
  .image {
    margin-bottom:  2rem;
  }
  .text {
    text-align: center;
  }
}
