.wrapper {
  max-width: var(--content);
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.wrapper button {
  height: 32px;
  border: 1px solid var(--button-border-color);
  background-color: var(--background-color);
  color: var(--secondary-text);
  padding: 0rem 0.60rem;
  border-radius: var(--buttons-border-radius);
}
.wrapper button:hover {
  background-color: var(--main-light-dark);
  cursor: pointer;
  color: var(--primary-text);
  border: var(--button-border) solid transparent;
}
.wrapper p {
  margin: 0 0.8rem;
  color: var(--secondary-text);
}
@media (max-width: 1000px) {
  .wrapper {
    padding: 0;
    justify-content: flex-end;
  }
}
