.wrapper {
  display: flex;
  width: 100%;
  padding: 3rem var(--content-padding) 10.5rem var(--content-padding);
  justify-content: space-between;
}
.wrapper div {
  width: 160px;
}
@media (max-width: 710px) {
  .wrapper {
    padding: 2rem var(--content-padding-mobile) 4.5rem var(--content-padding-mobile);
  } 
}