.table table {
    border-collapse: collapse;
}
.table th {
    border: 2px solid var(--main-light-dark);
    padding: 0.28rem 1.4rem;
    text-align: center;
    color: var(--primary-text);
}
.table td {
    border: 2px solid var(--main-light-dark);
    padding: 0.28rem 0.7rem;
    text-align: center;
    color: var(--secondary-text);
}
.wrapper h4 {
    color: var(--primary-text);
    font-size: 1.16rem;
    margin-bottom: 0.3rem;
    padding-top: 0.7rem;
}
.wrapper p {
    color: var(--secondary-text);
    font-size: 1.08rem;
    margin-bottom: 1.42rem;
    max-width: 600px;
    line-height: 124%;
}
.wrapper strong {
    color: var(--primary-text);
}
.wrapper div {
    display: flex;
    justify-content: left;
}
.wrapper .select {
    margin: 0 0 1.4rem 0;
}
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-bottom: 4.2rem;
}
.wrapper span {
    font-size: 2rem;
}