.element {
  width: 100%;
  display: grid;
  grid-template-columns: 2.4fr 4.5fr 3.7fr 3fr 2.6fr 1fr;
  align-items: center;
  padding: 1.1rem 1rem;
  border-bottom: var(--button-border) solid var(--main-light-dark);
}
.element:hover {
  background-color: var(--main-light-dark);
}
.element span {
  font-size: 15px;
  color: var(--secondary-text);
}
.element strong {
  font-size: 15px;
  color: var(--primary-text);
}
.evidenceWrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.element .evidence {
  border-radius: 100%;
  color: white;
  width: 23px;
  height: 23px;
  margin-right: 6px;
}
.evidence p {
  text-align: center;
  line-height: 24px;
  font-size: 12px;
}
.element .accession {
  border-bottom: 1px solid var(--secondary-text);
  width: max-content;
  cursor: pointer;
}
.element .accession:hover {
  color: var(--main-blue);
  border-bottom: 1px solid var(--main-blue);
}
.RefSeq {
  background-color: #4c5075;
}
.UniProt {
  background-color: #81b29a;
}
.VHDB {
  background-color: #ff6582;
}
.NCBI {
  background-color: #f2cc8f;
}
.header {
  background-color: var(--main-light-dark);
  border-radius: var(--buttons-border-radius) var(--buttons-border-radius) 0 0;
}
.helpDialog {
  display: none;
  position: absolute;
  top: -180px;
  left: -100px;
  width: auto;
  min-width: 180px;
  background-color: white;
  border: 1px solid var(--button-border-color);
  padding: 0.3rem 1rem;
  border-radius: var(--buttons-border-radius);
  box-shadow: 0 2px 4px -3px var(--primary-text);
}
.helpIconWrapper {
  position: relative;
}
.helpIconWrapper:hover .helpDialog {
  display: flex;
  flex-direction: column;
}
.helpDialog div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.helpIconWrapper:hover .helpDialog .evidence {
  display: block;
  margin: 0.4rem 1rem 0.4rem 0;
}
.helpIcon {
  transform: translateY(1px);
  margin-left: 4px;
  font-size: 16px;
  cursor: pointer;
}
