.content {
  padding: 0rem var(--content-padding);
  padding-bottom: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content > p {
  font-size: 32px;
  width: max-content;
  margin-bottom: 1.9rem;
  color: var(--primary-text-dark);
}
