.content {
  padding: 0rem var(--content-padding);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content > p {
  font-size: 32px;
  width: max-content;
  /* padding-bottom: 0.2rem; */
  /* border-bottom: 5px solid var(--main-blue); */
  margin-bottom: 1.9rem;
  color: var(--primary-text-dark);
}
