.wrapper {
    background: rgb(131,197,190);
    background: linear-gradient(90deg, rgba(131,197,190,1) 0%, rgba(17,146,233,1) 51%, rgba(226,149,120,1) 100%);
    padding: 4rem 0 2.8rem 0;
    margin-bottom: 7rem;
}
.wrapper h2 {
    font-size: 70px;
    color: #263238;
    text-align: center;
}
.wrapper .video {
    margin: 3rem auto;
    background-color: var(--background-color);
    height: 420px;
    width: 80%;
    max-width: 800px;
    border-radius: 28px;
}