.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.2;
  z-index: 10000;
}
.modal {
  width: 100px;
  background-color: black;
}
.close {
  cursor: pointer;
  z-index: 20000;
}
