.navigation {
  border-bottom: 1px solid var(--main-light-dark);
  display: flex;
  justify-content: space-between;
  padding: 0 3.6rem;
  align-items: center;
}
.navigation ul {
  display: flex;
}
.navigation ul li {
  list-style: none;
  text-align: center;
  min-width: 90px;
  cursor: pointer;
}
.navigation ul li p {
  font-size: 18px;
  padding: 1.5rem 0;
  color: var(--secondary-text);
}
.active {
  border-bottom: 2px solid var(--main-blue);
}
.navigation ul li.active p {
  color: var(--main-blue);
}
.sidebar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
}
@media (max-width: 1540px) {
  .navigation {
    padding: 0 1.8rem;
  }
}