.wrapper {
  width: 100%;
  max-width: var(--content);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0rem var(--content-padding) 10rem var(--content-padding);
}
.description {
  color: var(--primary-text);
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4.7rem auto;
}
.description div h3 {
  font-size: 26px;
  margin-bottom: 0.6rem;
  font-weight: normal;
  text-align: center;
}
.description div p {
  color: var(--secondary-text);
  text-align: center;
  max-width: 420px;
  margin: 0 auto;
  line-height: 22px;
}
.description img {
  width: 126px;
}
.selection {
  color: var(--primary-text);
  display: flex;
  flex-direction: row;
}
.selection div {
  display: flex;
  flex-direction: row;
  margin-right: 2.8rem;
}
.selection a {
  margin: 0 0.3rem;
  text-decoration: none;
  color: var(--secondary-text);
  cursor: pointer;
}
.selection a.active {
  color: var(--primary-text);
  font-weight: bold;
  border-bottom: 2px solid var(--primary-text);
}
.selection p {
  margin: 0 0.3rem 0 0;
  color: var(--primary-text);
  cursor: auto;
}
.data span {
  line-height: 54px;
  color: var(--secondary-text);
}
.data a:hover {
  color: var(--main-blue);
  /* border-bottom: 1px solid; */
}
.data a {
  font-weight: bold;
  margin-bottom: 2px;
  display: block;
  /* border-bottom: 1px solid; */
  color: var(--primary-text);
}
.element {
  display: grid;
  grid-template-columns: 1.5fr 0.75fr 0.75fr 0.2fr;
  align-items: center;
  border-bottom: var(--button-border) solid var(--main-light-dark);
  border-left: var(--button-border) solid var(--main-light-dark);
  border-right: var(--button-border) solid var(--main-light-dark);
  padding-left: 1rem;
}
.element:hover {
  background-color: var(--main-light-dark);
}
.searchButton {
  height: 32px;
  width: 32px;
  border: var(--button-border) solid var(--main-light-dark);
  background-color: var(--background-color);
  border-radius: var(--buttons-border-radius);
  color: var(--primary-text);
  cursor: pointer;
}
.searchButton a {
  color: var(--primary-text);
  display: block;
}
.searchButton a:hover {
  color: var(--primary-text);
}
.searchButton:hover {
  background-color: var(--main-light-dark);
  border: var(--button-border) solid transparent;
}
.notFound {
  text-align: center;
  margin: 8rem auto;
  color: var(--secondary-text);
}