.wrapper {
  width: 100%;
  max-width: var(--content);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem var(--content-padding) 10rem var(--content-padding);
}
.description {
  color: var(--primary-text);
  max-width: 100%;
  text-align: center;
  margin: 4.5rem auto;
}
.description h3 {
  font-size: 26px;
  margin-bottom: 0.6rem;
  font-weight: normal;
}
.description p {
  color: var(--secondary-text);
  max-width: 420px;
  margin: 0 auto;
  line-height: 22px;
}
.selection {
  color: var(--primary-text);
  display: flex;
  flex-direction: row;
}
.selection a {
  margin: 0 0.3rem;
  text-decoration: none;
  color: var(--secondary-text);
  cursor: pointer;
}
.selection a.active {
  color: var(--primary-text);
  font-weight: bold;
  border-bottom: 2px solid var(--primary-text);
}
.selection p {
  margin: 0 0.4rem 0 0;
  color: var(--primary-text);
  cursor: auto;
}
.data span {
  line-height: 54px;
  color: var(--secondary-text);
}
.data a:hover {
  color: var(--main-blue);
  cursor: pointer;
  text-decoration: underline;
}
.data a {
  font-weight: bold;
  text-decoration: none;
  color: var(--primary-text);
}
.stack {
  margin: 1.25rem 0 0 0;
  display: flex;
  flex-direction: row;
  background-color: var(--main-light-dark);
  border-radius: var(--buttons-border-radius) var(--buttons-border-radius) 0 0;
  padding: 1rem;
  color: var(--primary-text);
}
.stack p {
  cursor: pointer;
  font-weight: bold;
}
.element {
  display: grid;
  grid-template-columns: 1.85fr 0.75fr 0.75fr 0.75fr 0.2fr;
  align-items: center;
  border-bottom: 1px solid var(--main-light-dark);
  padding-left: 1rem;
}
.searchButton {
  height: 32px;
  width: 32px;
  border: var(--button-border) solid var(--button-border-color);
  background-color: var(--background-color);
  border-radius: var(--buttons-border-radius);
  color: var(--primary-text);
  cursor: pointer;
}
.searchButton a {
  color: var(--primary-text);
  display: block;
}
.searchButton:hover {
  background-color: var(--main-light-dark);
  border: var(--button-border) solid transparent;
}
