.button {
  cursor: pointer;
  height: 32px;
  border: none;
  background-color: var(--main-blue);
  color: rgb(236, 236, 236);
  padding: 0rem var(--buttons-padding);
  border-radius: var(--buttons-border-radius);
}
.button svg {
  margin-left: 0.3rem;
}
.button:hover {
  color: white;
}