.wrapper {
    display: flex;
    flex-direction: column;
    padding: 1.6rem 2rem 2.4rem 2rem;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 360px;
    min-width: 724px;
    width: 100%;
}
.wrapper span {
    transform: translateY(-17%);
}
.taxonTree {
    width: 20px;
    display: inline-block;
    border-left: 1px solid var(--third-text);
    border-bottom: 1px solid var(--third-text);
    padding: 0.4rem 0;
    margin-right: 0.6rem;
}
.wrapper .lineage {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 0.1rem;
}
.wrapper .lineage a {
    text-decoration: none;
    border-bottom: 1px dotted var(--primary-text);
    color: var(--primary-text);
    font-weight: normal;
}
.wrapper .lineage .ncbi a {
    border-bottom: 1px dotted transparent;
}
.wrapper .lineage a:hover {
    color: var(--main-blue);
    border-bottom: 1px dotted var(--main-blue);
}
.wrapper .lineage .ncbi a:hover {
    border-bottom: 1px dotted transparent;
}
.wrapper .lineage span:nth-of-type(3) {
    color: var(--primary-text);
    font-weight: bold;
    position: absolute;
    left: 230px;
}
.ncbi a {
    font-size: 0.9rem;
    text-decoration: none;
    color: var(--secondary-text) !important;
}
.ncbi a svg {
    margin-left: 4px;
}
.ncbi a:hover {
    color: var(--main-blue);
    cursor: pointer;
    text-decoration: none;
    color: var(--main-blue) !important;
}
.ncbi {
    margin-left: 0.2rem;
}
.lineageICTV span:nth-of-type(3) {
    left: 270px;
}
.representative {
    margin-bottom: 1.2rem;
    margin-top: 0.2rem;
}
.representative:nth-last-of-type(1) {
    margin-bottom: 0;
}
.representative h2 {
    color: var(--primary-text);
    font-size: 20px;
    padding-bottom: 0.4rem;
    border-bottom: 1px solid var(--secondary-text);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.representative h2 svg {
    color: #81b29a;
}
.representative p {
    color: var(--secondary-text);
    line-height: 1.7rem;
}
.ncbi {
    font-weight: normal;
}
.wrapper .row {
    height: 24px;
    margin-top: 18px;
    border-radius: var(--buttons-border-radius);
    z-index: -1;
}
.wrapper .header {
    top: 0;
    height: 32px;
    margin-top: 24px;
    margin-bottom: 54px;
    width: 140px;
    border-radius: var(--buttons-border-radius);
    z-index: -1;
}
