.element {
  width: 100%;
  display: grid;
  grid-template-columns: 3.58fr 3.58fr 2.7fr 1.75fr 1.6fr;
  /* gap: 20px; */
  align-items: center;
  padding: 0.94rem;
  border-bottom: var(--button-border) solid var(--main-light-dark);
  border-left: var(--button-border) solid var(--main-light-dark);
  border-right: var(--button-border) solid var(--main-light-dark);
}
.element:hover {
  background-color: var(--main-light-dark);
}
.element span {
  font-size: 15px;
  color: var(--secondary-text);
}
.element strong {
  font-size: 15px;
  color: var(--primary-text);
}
.evidenceWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.element .evidence {
  border-radius: 100%;
  color: white;
  width: 23px;
  height: 23px;
  margin-right: 7px;
  margin-top: 3px;
  margin-bottom: 3px;
}
.evidence p {
  text-align: center;
  line-height: 23px;
  font-size: 11px;
  font-weight: bold;
}
.element .accession {
  border-bottom: 1px solid var(--secondary-text);
  width: max-content;
  cursor: pointer;
}
.element .accession:hover {
  color: var(--main-blue);
  border-bottom: 1px solid var(--main-blue);
}
.RefSeq {
  background-color: #3d405b;
}
.RefSeq p {
  color: white;
}
.MVP {
  background-color: #5a724a;
}
.MVP p {
  color: white;
}
.GenBank {
  background-color: #81b29a;
}
.GenBank p {
  color: black;
}
.IntAct {
  background-color: #b281b0;
}
.IntAct p {
  color: white;
}
.UniProtSwissProt {
  background-color: #ac5353;
}
.UniProtSwissProt p {
  color: white;
}
.UniProtKB {
  background-color: #53a9ac;
}
.UniProtKB p {
  color: black;
}
.VHDB {
  background-color: #e07a5f;
}
.VHDB p {
  color: white;
}
.NCBI {
  color: black;
  background-color: #f2cc8f;
}
.NCBI p {
  color: black;
}
.header {
  background-color: var(--main-light-dark);
  border-radius: var(--buttons-border-radius) var(--buttons-border-radius) 0 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}
.helpDialog {
  display: none;
  position: absolute;
  top: -180px;
  left: -100px;
  width: auto;
  min-width: 220px;
  background-color: var(--background-color);
  border: 1px solid var(--button-border-color);
  padding: 0.3rem 0.6rem;
  border-radius: var(--buttons-border-radius);
}
.helpIconWrapper {
  position: relative;
}
.helpIconWrapper:hover .helpDialog {
  display: flex;
  flex-direction: column;
}
.helpDialog div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.helpIconWrapper:hover .helpDialog .evidence {
  display: block;
  margin: 0.4rem 1rem 0.4rem 0;
}
.helpIcon {
  transform: translateY(1px);
  margin-left: 4px;
  font-size: 16px;
  cursor: pointer;
}
.bookmark {
  cursor: pointer;
}
.virus_link {
  border-bottom: 1px solid;
}
.virus_link:hover {
  cursor: pointer;
  color: var(--main-blue);
}
@media (max-width: 920px) {
  .element {
    grid-column-gap: 0.4rem;
    grid-template-columns: 2.4fr 3.6fr 3.6fr 2fr 1.5fr 1.4fr 0.2fr;
  }
  .element .evidence {
    border-radius: 100%;
    color: white;
    width: 20px;
    height: 20px;
    margin: 1px;
  }
  .evidence p {
    line-height: 20px;
    font-size: 11px;
  }
  .element span {
    font-size: 13px;
    color: var(--secondary-text);
  }
  .element strong {
    font-size: 13px;
    color: var(--primary-text);
  }
  .helpIcon {
    display: none;
  }
}

@media (max-width: 600px) {
  .element {
    overflow-x: scroll;
  }
}
