.content {
  padding: 1.2rem var(--content-padding);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.results span {
  color: var(--primary-text)
}
.results {
  padding-bottom: 1.4rem;
}
.results p {
  color: var(--secondary-text);
}
.results strong {
  margin-left: 0.1rem;
}
@media (max-width: 920px) {
  .content {
    padding: 1.2rem var(--content-padding-mobile);
    justify-content: center;
  }
}
