.wrapper {
  padding: 6rem var(--content-padding) 4.8rem var(--content-padding);
}
.welcome {
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.welcome h1 {
  font-size: 2.3rem;
  color: var(--primary-text);
  margin-bottom: 0.2rem;
}
.welcome p {
  font-size: 1rem;
  color: var(--secondary-text);
  max-width: 400px;
  line-height: 1.3rem;
  text-align: center;
}
.logoWrapper img {
  width: 210px;
  border-radius: 14px;
  margin: 1.1rem 0.6rem;
  max-height: 80px;
}
.logoHolder {
  margin-top: 2rem;
  display: grid;
  justify-items: center;
  align-items: center;
  justify-content: center;
  grid-template-columns: 270px 270px 270px;
}