.wrapper {
  padding: 6rem var(--content-padding) 4.8rem var(--content-padding);
  margin: 2.5rem auto;
}
.welcome {
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.welcome h1 {
  margin-bottom: 0.2rem;
}
.welcome p {
  font-size: 1rem;
  color: var(--secondary-text);
  max-width: 560px;
  line-height: 1.3rem;
  text-align: center;
}
.logoWrapper a:hover {
  border: 1px solid var(--secondary-text);
  box-shadow: 0px 0px 10px -2px var(--secondary-text);
}
.logoWrapper a {
  border-radius: 14px;
  margin: 1.1rem 0.6rem;
  display: block;
  position: relative;
  height: 80px;
  transition: .12s;
  border: 1px solid transparent;
  max-height: 80px;
  width: 210px;
}
.logoHolder {
  margin-top: 3rem;
  display: grid;
  justify-items: center;
  align-items: center;
  justify-content: center;
  grid-template-columns: 254px 254px 254px;
}
@media (max-width: 710px) {
  .wrapper {
    padding: 3rem var(--content-padding-mobile);
    margin: 2.5rem auto;
  }
  .welcome p {
    max-width: 460px;
  }
  .welcome h1 {
    margin-bottom: 1.1rem;
  }
  .logoHolder {
    margin-top: 2rem;
    grid-template-columns: 170px 170px;
  }
  .logoWrapper a {
    margin: 0.5rem 0.8rem;
    height: 60px;
    max-height: 80px;
    width: 160px;
  }
}