.footer {
  text-align: left;
  color: var(--secondary-text);
  border-top: 1px solid var(--main-light-dark);
  padding: 1.5rem var(--content-padding);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer img {
  width: 14px;
  transform: translateY(1px);
  margin: 0 3px;
  color: #ff6582;
}
.footer span {
  color: var(--secondary-text);
}
.footer div span {
  font-size: 15px;
  margin-right: 3.2rem;
  color: var(--main-blue);
  cursor: pointer;
}
.footer span:nth-last-child(1) {
  margin-right: 0;
}
.footer strong {
  color: var(--primary-text);
  font-weight: bold;
  font-size: 15px;
}
.footer a {
  text-decoration: none;
  font-weight: normal;
  color: var(--secondary-text);
  margin-right: 2.7rem;
}
