.content .help {
  height: 36px;
  border: var(--button-border) solid var(--button-border-color);
  background-color: white;
  border-radius: var(--buttons-border-radius);
  color: var(--primary-text);
  cursor: pointer;
  align-items: center;
  padding: 0 0.8rem;
  transform: translateY(25%);
}
.content .help:hover {
  background-color: var(--main-light-dark);
}
.wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3.6rem;
}
.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 27px;
  height: 27px;
  color: var(--third-text);
  font-weight: bold;
  background-color: var(--main-light-dark);
  border-radius: 50%;
  margin-right: 1rem;
}
.line {
  height: 30px;
  background-color: var(--main-light-dark);
  width: 2px;
  margin: 1rem auto;
}
.step {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--secondary-text);
}
.step div {
  font-size: 16px;
}
.step .circle {
  font-size: 14px;
}
.closeButton {
  cursor: pointer;
  color: var(--secondary-text);
  font-size: 24px;
  float: right;
}