.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}
.content {
  max-width: var(--content);
  width: 100%;
  padding: 3.6rem var(--content-padding);
  display: flex;
  justify-content: space-between;
}
