.wrapper {
  width: 100%;
}
.content {
  padding: 5.4rem var(--content-padding) 2.4rem var(--content-padding);
  display: flex;
  width: 100%;
  justify-content: space-between;
}
@media (max-width: 920px) {
  .content {
    padding: 2.4rem var(--content-padding-mobile) 2.4rem var(--content-padding-mobile);
    justify-content: center;
  }
}
