.wrapper {
  max-width: 660px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.searchField {
  border: var(--button-border) solid var(--main-light-dark);
  background-color: var(--main-light-dark);
  border-radius: var(--buttons-border-radius) 0 0 var(--buttons-border-radius);
  width: 100%;
  transition: 0.15s;
}
/* .searchField:hover {
  border: var(--button-border) solid var(--button-border-color);
  border-radius: var(--buttons-border-radius) 0 0 var(--buttons-border-radius);
  background-color: transparent;
} */
.focused > .searchField {
  border: var(--button-border) solid var(--button-border-color);
  border-radius: var(--buttons-border-radius) 0 0 var(--buttons-border-radius);
  background-color: transparent;
}
.searchField > input {
  background-color: transparent;
  color: var(--primary-text);
  padding: var(--buttons-padding) 1.2rem var(--buttons-padding) 3rem;
  border-radius: var(--buttons-border-radius) 0 0 var(--buttons-border-radius);
  width: 100%;
  border: var(--button-border) solid transparent;
}
.searchField > input:focus {
  outline: none;
}
.buttons {
  background-color: var(--main-light-dark);
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 0 var(--buttons-border-radius) var(--buttons-border-radius) 0;
  padding: var(--buttons-padding) 1.2rem;
  border: calc(var(--button-border) + 1px) solid var(--main-light-dark);
}
.buttons > div {
  color: var(--secondary-text);
  border-bottom: 2px solid transparent;
  transition: 0.1s;
  cursor: pointer;
}
.buttons .active {
  font-weight: bold;
  color: var(--primary-text);
  border-bottom: 2px solid var(--primary-text);
}
.buttons > div:nth-child(1) {
  margin-right: 0.6rem;
}
.close {
  position: absolute;
  right: 170px;
  color: var(--secondary-text);
  top: var(--buttons-padding);
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: transparent;
  font-size: 24px;
  top: 15px;
  transform: translateY(-3px);
}
.searchIcon {
  font-size: 24px;
  top: 13px;
  left: -3px;
  margin-left: 1.2rem;
  color: var(--secondary-text);
  position: absolute;
}
