.wrapper {
  max-width: 700px;
  border-radius: var(--buttons-border-radius);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-light-dark);
  position: relative;
  border: var(--button-border) solid transparent;
  transition: .2s;
}
.focused {
  background-color: white;
  border: var(--button-border) solid var(--button-border-color);
  box-shadow: rgb(70, 70, 70) 0px 2px 12px -6px;
}
.wrapper > input {
  width: 100%;
  background-color: transparent;
  border: none;
  padding: var(--buttons-padding) 1.2rem;
  margin-right: 2rem;
}
.wrapper > input:focus {
  outline: none;
}
.wrapper > input::placeholder {
  color: var(--secondary-text);
}
.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 1.2rem 0 0;
}
.buttons > div {
  color: var(--secondary-text);
  border-bottom: 2px solid transparent;
  transition: 0.1s;
  cursor: pointer;
}
.buttons .active {
  font-weight: bold;
  color: var(--primary-text);
  border-bottom: 2px solid var(--primary-text);
}
.buttons > div:nth-child(1) {
  margin-right: 0.6rem;
}
.close {
  position: absolute;
  right: 150px;
  top: var(--buttons-padding);
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: transparent;
  font-size: 26px;
  transform: translateY(-3px);
}
.searchIcon {
  font-size: 26px;
  margin-left: 1.2rem;
}
