.wrapper {
  padding: 6rem var(--content-padding) 14rem var(--content-padding);
}
.welcome {
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}
.welcome h1 {
  font-size: 2.2rem;
  color: var(--primary-text);
  margin-bottom: 0.2rem;
}
.welcome p {
  font-size: 1rem;
  color: var(--secondary-text);
  max-width: 400px;
  line-height: 1.3rem;
  text-align: center;
}
.contact {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
}
.contact .person {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1.4rem;
}
.contact img {
  border-radius: 100%;
  width: 62px;
  margin-bottom: 1.4rem;
}
.contact .person p {
  margin-bottom: 0.1rem;
  text-align: center;
  font-weight: bold;
  color: var(--primary-text);
}
.contact .person .email {
  color: var(--secondary-text);
  font-weight: normal;
}
.contact .icons * {
  width: 29px;
  cursor: pointer;
  margin-top: 0.6rem;
  filter: brightness(0) saturate(100%) invert(60%) sepia(40%) saturate(4482%) hue-rotate(177deg) brightness(90%) contrast(102%);
}
.contact .icons a:nth-of-type(2) {
  margin-left: 1rem;
  filter: brightness(0) saturate(100%) invert(60%) sepia(40%) saturate(4482%) hue-rotate(177deg) brightness(90%) contrast(102%);
}
