* {
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: white;
}
body {
  --background-color: white;
  --main-light-dark: rgb(234, 234, 234);
  --primary-dark-text: #353535;
  --primary-text: #505050;
  --secondary-text: #818181;
  --third-text: #adadad;
  --content: 1500px;
  --content-padding: 4.8rem;
  --content-padding-mobile: 1.2rem;
  --buttons-padding: 0.6rem;
  --buttons-border-radius: 0.48rem;
  --standard-font-size: 20px;
  --button-border: 1px;
  --button-border-color: #bdbdbd;
  --main-blue: #1192e9;
  --searchbar-hover: #dee4eb;
  --button-height: 34px
}
body.dark {
  background-color: #1c2128;
  --background-color: #1d2229;
  --main-light-dark: #30373f;
  --button-border-color: #3f4c5e;
  --primary-dark-text: #cdd9e6;
  --primary-text: #b4c1cf;
  --secondary-text: #7f8994;
  --third-text: #7e8d9c;
  --evidence-white-color: #becedb;
  --evidence-uniprot-color: #000000;
  --main-blue: #1f96e6;
  --searchbar-hover: #3f4957;
}