* {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  height: 100%;
  overflow: auto;
}
body {
  height: 100%;
  background-color: white;
}
body {
  --background-color: white;
  --main-light-dark: #f0f3f6;
  --primary-dark-text: #353535;
  --primary-text: #505050;
  --secondary-text: #818181;
  --third-text: #adadad;
  --content: 1500px;
  --content-padding: 6.8rem;
  --content-padding-mobile: 1.2rem;
  --buttons-padding: 0.6rem;
  --buttons-border-radius: 0.40rem;
  --standard-font-size: 20px;
  --button-border: 1px;
  --button-border-color: #bdbdbd;
  --main-blue: #4d97f4;
  --searchbar-hover: #dee4eb;
}
body.dark {
  background-color: #1c2128;
  --background-color: #1c2128;
  --main-light-dark: #2d333b;
  --button-border-color: #525a63;
  --primary-dark-text: #adbac7;
  --primary-text: #b2c0ce;
  --secondary-text: #8391a0;
  --third-text: #7e8d9c;
  --evidence-white-color: #becedb;
  --evidence-uniprot-color: #000000;
  --main-blue: #4d97f4;
  --searchbar-hover: #3d4958;
}