.wrapper {
  text-align: center;
  margin: 1.4rem auto 10rem auto;
  padding: 0 var(--content-padding);
}
.wrapper h1 {
  font-size: 72px;
  color: var(--primary-text);
  font-weight: 500;
}
.wrapper h4 {
  font-size: 22px;
  color: var(--secondary-text);
  font-weight: normal;
  margin-bottom: 5rem;
}
.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.content .card {
  background-color: var(--main-light-dark);
  border-radius: 28px;
  /* border: 2px solid var(--main-light-dark); */
  padding: 0.6rem;
}
.card {
  object-fit: cover;
  display: flex;
  align-items: center;
}
.card img {
  width: 320px;
  object-fit: fill;
}
.getStarted {
    color: #e29578;
    text-align: left;
    font-size: 22px;
    margin-top: 2rem;
}
.getStarted svg {
    font-size: 20px;
    margin-left: 0.4rem;
}