.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1.4rem auto 8rem auto;
    max-width: 600px;
    padding: 1.4rem 0;
    border-bottom: 1px solid var(--main-light-dark);
}
.wrapper > div p:nth-child(1) {
    color: var(--primary-text);
    font-size: 21px;
}
.wrapper > div p:nth-child(2) {
    color: var(--secondary-text);
    margin-top: 0.25rem;
    font-size: 14px;
}