.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3.2rem auto;
}
.wrapper .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 1.4rem auto 7.7rem auto;
    max-width: 680px;
    padding: 0.9rem 1.8rem;
    border-bottom: 1px solid var(--main-light-dark);
    border-radius: 30px;
    border: 2px solid var(--main-light-dark);
    position: relative;
}
.wrapper > div {
    text-align: center;
    margin-bottom: 1rem;
}
.wrapper .interactions {
    display: flex;
    flex-direction: row;
}
.grid div {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    margin: 2rem 1.6rem;    
    max-width: 120px;
}
.wrapper > div p:nth-child(1) {
    color: var(--primary-text);
    font-size: 1.28rem;
}
.wrapper > div p:nth-child(2) {
    color: var(--secondary-text);
    margin-top: 0.33rem;
    font-size: 0.9rem;
}
.wrapper > div.interactions p:nth-child(1) * {
    font-size: 1.54rem;
    margin-right: 1rem;
    font-weight: bold;
    color: var(--main-blue);
    line-height: 18px;
}
.wrapper > div.interactions p:nth-child(2) {
    font-size: 1.54rem;
    color: var(--primary-text);
    line-height: 18px;
    margin: 0;
}
.wrapper > span {
    color: var(--secondary-text);
    line-height: 0;
    margin-bottom: 1.2rem;
}
.wrapper .patternLeft {
    position: absolute;
    left: -100px;
    transform: rotate(-50deg);
    top: -90px;
    width: 4.8rem;
}
.wrapper .patternRight {
    position: absolute;
    right: -100px;
    transform: rotate(-230deg);
    bottom: -90px;
    width: 4.8rem;
}
.wrapper .patternBottom {
    position: absolute;
    left: -96px;
    transform: rotate(170deg);
    bottom: -86px;
    width: 4.8rem;
}
