.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0rem var(--content-padding);
}
.sidebar {
  height: 100vh;
  min-width: 286px;
  border-left: 1px solid var(--main-light-dark);
  position: sticky;
  position: -webkit-sticky; /* Safari */
  top: 0;
  padding: 1.4rem 0;
  padding-left: 1.8rem;
}
.charts {
  margin: 1.5rem 0;
  width: 100%;
}
.wrapper h1 {
  padding-top: 3rem;
  padding-bottom: 0.24rem;
  border-bottom: 1px solid var(--main-light-dark);
  width: 100%;
}
.wrapper .sidebar a {
  margin-left: 1.2rem;
  text-decoration: none;
  cursor: pointer;
  display: block;
  font-weight: normal;
  margin-bottom: 0.26rem;
  max-width: 380px;
  color: var(--secondary-text);
}
.wrapper .sidebar .active {
  font-weight: bold;
  margin-bottom: 0.28rem;
  margin-top: 1rem;
  margin-left: 0;
  font-weight: bold;
  color: var(--main-blue);
}
.wrapper .sidebar .main {
  font-weight: bold;
  margin-bottom: 0.28rem;
  margin-top: 1rem;
  margin-left: 0;
  color: var(--primary-text);
}
.wrapper .sidebar a:hover {
  color: var(--main-blue);
}

.wrapper span {
  display: block;
  /* border-bottom: 1px solid var(--main-light-dark); */
  width: 100%;
  margin: 0.4rem 0rem 1rem 0;
}
@media (max-width: 710px) {
  .wrapper {
    padding: 0rem var(--content-padding-mobile);
  }
  .wrapper h1 {
    padding-top: 1.4rem;
  }
  .wrapper .sidebar{
    display: none;
  }
  .charts {
    margin: 1rem 0 0 0;
  }
}