.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0rem var(--content-padding) 0rem var(--content-padding);
    width: 100%;
    max-width: var(--content);
}
.sidebar {
    width: 400px;
    height: 100vh;
    background-color: var(--main-light-dark);
    position: sticky;
    position: -webkit-sticky; /* Safari */
    top: 0;
    padding: 3rem 1rem;
}
.charts {
    padding-right: 7rem;
    max-width: 730px;
    width: 100%;
}
.wrapper h1 {
    color: var(--primary-text);
    padding-top: 3rem;
    font-size: 1.84rem;
}
.wrapper .sidebar a {
    margin-left: 1.2rem;
    text-decoration: none;
    cursor: pointer;
    display: block;
    font-weight: normal;
    margin-bottom: 0.6rem;
    color: var(--secondary-text);
}
.wrapper .sidebar a:hover {
    color: var(--main-blue);

}
.wrapper .sidebar .main {
    margin-left: 0;
    color: var(--main-blue);
}
.wrapper span {
    display: block;
    border-bottom: 1px solid var(--main-light-dark);
    width: 100%;
    margin: 0.4rem 0 1.8rem 0;
}
