.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0rem var(--content-padding);
}
.sidebar {
  height: 100vh;
  border-left: 1px solid var(--main-light-dark);
  position: sticky;
  position: -webkit-sticky; /* Safari */
  top: 0;
  padding: 1rem 0;
  padding-left: 2rem;
}
.charts {
  padding-right: 2rem;
}
.wrapper h1 {
  color: var(--primary-text);
  padding-top: 3rem;
  font-size: 1.84rem;
}
.wrapper .sidebar a {
  margin-left: 1.2rem;
  text-decoration: none;
  cursor: pointer;
  display: block;
  font-weight: normal;
  margin-bottom: 0.25rem;
  color: var(--secondary-text);
}
.wrapper .sidebar .active {
  font-weight: bold;
  margin-bottom: 0.2rem;
  margin-top: 1rem;
  margin-left: 0;
  font-weight: bold;
  color: var(--main-blue);
}
.wrapper .sidebar .main {
  font-weight: bold;
  margin-bottom: 0.2rem;
  margin-top: 1rem;
  margin-left: 0;
  color: var(--primary-text);
}
.wrapper .sidebar a:hover {
  color: var(--main-blue);
}

.wrapper span {
  display: block;
  border-bottom: 1px solid var(--main-light-dark);
  width: 100%;
  margin: 0.4rem 0rem 1rem 0;
}
